<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <!-- SEO -->
  <meta name="Web Designer" content="For web design, web development, landing page, website needs.">

  <!-- WEBSITE TITLE -->
  <title>CODEcygen</title>

  <!-- RESPONSIVE WEBSITE META TAG -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS FILES LINK -->
  <link rel="stylesheet" href="styles.css">

  <!-- GOOGLE FONTS LINK -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Nunito:wght@200&family=Tangerine&display=swap" rel="stylesheet">

  <!-- FAVICON LINK -->
  <link rel="icon" type="image/png" href="pictures/favicon/favicon.png" />

  <!-- FONT AWESOME LINK -->
  <script src="https://kit.fontawesome.com/159d9adc3c.js" crossorigin="anonymous"></script>

</head>

<body>

  <section class="navbar" id="navbar">
    <div class="logo-div">
      <img src="pictures/logo.png" alt="logo">
    </div>

    <div class="menu-btns-div">
      <a href="#">Home</a>
      <a href="#services">Services</a>
      <a href="#contact">Contact</a>
    </div>

    <div id="expand-btn">
      <i class="fas fa-bars"></i>
      <i class="fas fa-times icon-hide"></i>
    </div>

    <nav id="nav-menu">
      <ul>
        <li class="nav-list"><a href="#">Home</a></li>
        <li class="nav-list"><a href="#services">Services</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </section>

  <script src="index.js"></script>
</body>

</html>
