<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <!-- SEO -->
  <meta name="Web Designer" content="For web design, web development, landing page, website needs.">

  <!-- WEBSITE TITLE -->
  <title>CODEcygen</title>

  <!-- RESPONSIVE WEBSITE META TAG -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS FILES LINK -->
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/success.css">

  <!-- GOOGLE FONTS LINK -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Nunito:wght@200&family=Tangerine&display=swap" rel="stylesheet">

  <!-- FAVICON LINK -->
  <link rel="icon" type="image/png" href="pictures/favicon/favicon.png" />

  <!-- FONT AWESOME LINK -->
  <script src="https://kit.fontawesome.com/159d9adc3c.js" crossorigin="anonymous"></script>

</head>

<section>
  <div class="success-div">
    <h1>&#10003</h1>
    <p>We received your message.</p>
    <p>We will get back to you.</p>
    <p>Thank you very much.</p>
    <form action="/success" method="post">
      <button type="submit" name="success-button">Main Page</button>
    </form>
  </div>

</section>

  <script src="javascript/index.js"></script>

</body>

</html>
